
.sidebar {
    width: 100%;
    height: inherit;
    background: #ffffff;
    border-right: 1px solid #e6e6e6;
    transition: width 0.3s;
}


.sidebar.collapsed {
    width: 40%;
}

.sidebar.collapsed .logo-text,
.sidebar.collapsed .user-info,
.sidebar.collapsed .menu-item span,
.sidebar.collapsed .logout-btn span {
display: none;
}

.sidebar-header {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    border-bottom: 1px solid #e6e6e6;
    
}

.logo-section {
    display: flex;
    gap: 10px;
    align-items: center;
}

.collapse-btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.user-profile {
    display: flex;
    height: 10vh;
    width: 90%;
    gap: 5px;
    margin: 0 auto; 
    align-items: center;
    justify-content:flex-start; 
    border-bottom: 1px solid #e6e6e6;
}

.user-icon {
    width: 16%;
    min-width: 45px;
    height: 6vh;
    min-height: 5vh;
    background:#4643F7;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
   
   
}
.user-info{ 
    line-height: 0%;
}

.sidebar-menu {
    list-style: none;
    padding-left: 20px;
    height: 65vh; 
    border-bottom: 1px solid #e6e6e6;
    background-color: #FFFFFF;
    
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 24px;
    text-decoration: none;
    color: #333;
    border-radius: 8px;  
}

.menu-item:hover {
    background: #eef4ff;
    color:#eef4ff;
}

.logout-btn {
    margin: 0 auto;
    text-align: center;
    display: flex;
    gap: 15px;
    align-items: center;
    height: 10vh;
    width: 80%;
    text-decoration: none;
    color: #e63946;
    
    
}
.logout-btn:hover{
    background-color: #ac8f91;
    
}
img{
    width: 20%;
    height: 20%;
}