<link rel="stylesheet" href="/components/sidebar/sidebar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<aside class="sidebar">
    <div class="sidebar-header">
        <div class="logo-section">
            <img src="/assets/images/icon.png" alt="">
            <span class="logo-text">TaskMaster</span>
        </div>
        <button id="collapseBtn" class="collapse-btn">
        <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>

    <div class="user-profile">
        <div class="user-icon">N</div>
        <div class="user-info">
            <p class="user-name">nancy ndungu</p>
            <p class="user-email">nancynyokabi@gmail.com</p>
        </div>
    </div>

    <ul class="sidebar-menu">
        <li><a href="#" class="menu-item"><i class="fa-solid fa-table-cells"></i><span onclick="routeDashboard('dashboard')">Dashboard</span></a></li>
        <li><a href="#" class="menu-item"><i class="fa-solid fa-list-check"></i><span onclick="routeDashboard('tasks')">Tasks</span></a></li>
        <li><a href="#" class="menu-item"><i class="fa-solid fa-users"></i><span onclick="routeDashboard('community')">Community</span></a></li>
        <li><a href="#" class="menu-item"><i class="fa-solid fa-coins"></i><span onclick="routeDashboard('expenses')">Expenses</span></a></li>
        <li><a href="#" class="menu-item"><i class="fa-solid fa-note-sticky"></i><span onclick="routeDashboard('notes')">Notes</span></a></li>
        <li><a href="#" class="menu-item"><i class="fa-solid fa-gear"></i><span onclick="routeDashboard('settings')">Settings</span></a></li>
    </ul>

    <a href="#" class="logout-btn"><i class="fa-solid fa-arrow-right-from-bracket"></i><span>Logout</span></a>
</aside>
<script src="/components/sidebar/sidebar.js"></script>