.login-signup-toggle {
    display: flex;
    width: 92%;               
    margin: 0 auto;         
    border-radius: 12px;
    overflow: hidden;
    height: 6vh;
    background-color: #F3F4F6;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;

  }
  .login-signup-toggle .option {
    flex: 1;
    text-align: center;
    cursor: pointer;
    color: #1f2937;  
  }
  
  .login-signup-toggle .active {
    display: flex;
    background-color: #fff;     
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
 
.boundary-one{
    height: 2vh;
}
.signup-form {
    width: 92%;
    margin: 0 auto;
    color: #333;
}
  
.signup-form .container {
    padding: 10px 30px;
    
}
.signup-form .input-container {
    position: relative;
    margin-bottom: 20px;
    width: 90%;

    
}
  
.signup-form .input-container input {
    width: 100%;
    padding: 12px 12px 12px 40px; 
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 15px;
    transition: border 0.3s, box-shadow 0.3s;
}
  
.signup-form .input-container input:focus {
    outline: none;
    border-color: #fbbf24; 
    box-shadow: 0 0 0 2px rgba(251,191,36,0.2);
}
.signup-form .input-container .icon {
    position: absolute;
    top: 65%;
    left: 12px;
    transform: translateY(-50%);
    color: #9ca3af;
    font-size: 16px;
}
.signup-form p {
    font-size: 13px;
    color: #6b7280;
    margin-top: -10px;
    margin-bottom: 20px;
}
.signup-form .signupbtn {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s;
}
.signup-form .signupbtn {
    background-color: #fbbf24; 
}

.signup-form .signupbtn:hover {
    background-color: #f59e0b;
}

.signup-form input::placeholder {
    color: #9ca3af;
    font-size: 15px;
}
  
.signup-form label {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
}

.login-form {
    width: 92%;
    margin: 0 auto;
    color: #333;
}
  
.login-form .container { 
    padding: 30px 25px;
}
  
.login-form .input-container {
    position: relative;
    margin-bottom: 20px;
    width: 90%;
}
  
.login-form .input-container input {
    width: 95%;
    padding: 12px 12px 12px 40px; 
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 15px;
    transition: border 0.3s, box-shadow 0.3s;
    
}
  
.login-form .input-container input:focus {
    outline: none;
    border-color: #fbbf24; 
    box-shadow: 0 0 0 2px rgba(251,191,36,0.2);  
}
.login-form .input-container .icon {
    position: absolute;
    top: 65%;
    left: 12px;
    transform: translateY(-50%);
    color: #9ca3af;
    font-size: 16px;  
}
.login-form p {
    font-size: 13px;
    color: #6b7280;
}
.login-form .signupbtn {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s;
}


.login-form .signupbtn {
    background-color: #fbbf24; 
}

.login-form .signupbtn:hover {
    background-color: #f59e0b;
}

.login-form input::placeholder {
    color: #9ca3af;
    font-size: 15px;
}
  
.login-form label {
    font-weight: 400;
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
}

.active-form{
    display: block;
}

.inactive-form{
    display: none;
}
