.tabs {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.tab {
    padding: 8px 16px;
    background: white;
    border-radius: 20px;
    border: 1px solid #d8d8d8;
    cursor: pointer;
    font-size: 14px;
}

.tab.active {
    border-color: #2463ff;
    color: #2463ff;
}

.stats {
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.stat-box h3 {
    margin: 0;
    font-size: 28px;
}

.green {
    color: #13b866;
}



.empty-state {
    margin-top: 25px;
    padding: 50px;
    background: #f8faff;
    border: 2px dashed #d1deff;
    border-radius: 12px;
    text-align: center;
}

.empty-circle {
    width: 40px;
    height: 40px;
    border: 3px solid #d1deff;
    border-radius: 50%;
    margin: auto;
}

.empty-title {
    margin-top: 12px;
    font-weight: 600;
}

.empty-subtitle {
    color: #666;
    font-size: 14px;
}
/* Modal CSS */
.add-btn {
    background: #2463ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}
.add-task-modal-on{
    height: 50vh;
    width: 50%;
    z-index: 5;
    position:fixed;
    top: 25vh;
    left: 25%;
}
.add-task-modal-off{
    display: none;
}

.modal {
    width: inherit;
    background: white;
    border-radius: 14px;
    padding: 25px 30px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.15);
    animation: popIn 0.25s ease;
}

@keyframes popIn {
    from { transform: scale(0.92); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-title-wrap {
    display: flex;
    gap: 10px;
    align-items: center;
}

.spark-icon {
    font-size: 22px;
}

.modal h2 {
    margin: 0;
    font-size: 22px;
}

.modal-header p {
    margin: 0;
    font-size: 13px;
    color: #555;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: #555;
    cursor: pointer;
}

.modal-body {
    margin-top: 20px;
}

.field-label {
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
    font-weight: 500;
}

.input-field,
.select-field,
.textarea-field {
    width: 100%;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #d6d6d6;
    font-size: 14px;
}

.textarea-field {
    height: 90px;
    resize: none;
}

.input-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.ai-btn {
    width: 42px;
    height: 42px;
    border: 1px solid #d6d6d6;
    background: #f8faff;
    border-radius: 8px;
    cursor: pointer;
}


.two-col {
    margin-top: 15px;
    display: flex;
    gap: 20px;
}
.modal-footer {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.cancel-btn {
    background: #f3f3f3;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.create-btn {
    background: #2463ff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

