<link rel="stylesheet" href="/components/dash-card/dash-card.css">
<div class="stats-grid">

    <div class="stat-card">
        <div class="stat-icon stat-icon1"><i class="fa-solid fa-square-check"></i></div>
        <p>Active Tasks</p>
        <h3>0</h3>
        <span>0 completed</span>
    </div>

    <div class="stat-card ">
        <div class="stat-icon stat-icon2"><i class="fa-solid fa-dollar-sign"></i></div>
        <p>Total Expenses</p>
        <h3>$0.00</h3>
        <span>This period</span>
    </div>

    <div class="stat-card ">
        <div class="stat-icon stat-icon3"><i class="fa-solid fa-note-sticky"></i></div>
        <p>Total Notes</p>
        <h3>0</h3>
        <span>Saved notes</span>
    </div>

    <div class="stat-card ">
        <div class="stat-icon stat-icon4"><i class="fa-solid fa-arrow-trend-up"></i></div>
        <p>Completion Rate</p>
        <h3>0%</h3>
        <span>Task completion</span>
    </div>

</div>
       