.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.stat-card {
    background:#FFFFFF;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #e5e7eb;
    position: relative;
}
.stat-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #e5edff;
    color: #2563eb;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.stat-icon i {
    font-size: 18px;
}
.stat-icon1{
    background-color:#165DFC;
    color:#FFFFFF ;
}
.stat-icon2{
   background-color: #0092B9;
   color:#FFFFFF;
}
.stat-icon3{
    background-color:#00A63D;
    color:#FFFFFF;
 }
 .stat-icon4{
    background-color: #4F39F6;
    color:#FFFFFF;
 }