:root{
    --font-color: #101828;
    --main-font-color: #4a5565;
    --base-font-color: #1E293B;
    --form-title-font-color: #364153;
    --blue-font-color: #155dfc;
    --footer-font-color: #6a7282;
    --background-color: #FFFFFFCC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, system-ui, sans-serif, "Inter",Arial, sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    width: 100vw;

}

body{
    background-image: url(/assets/images/main\ background.svg);
    background: rgba(255, 255, 255, 0.5); 
  
}




#circle_icon_small{
    position: absolute;
    left: 3.5625rem;
    top: 9.3125rem;
}

#jumping_arrow{
    position: absolute;
    left: 71.6875rem;
    top: 7.375rem;
    transform: translateY(1.875rem);
    animation: jump 5s infinite;
   
}

@keyframes jump {
  0%   { transform: translateY(0); }
  20%  { transform: translateY(-20px); } 
  35%  { transform: translateY(0); }   
  100% { transform: translateY(0); }     
}
#circle_icon_big{
    position: absolute;
    left: 82.1875rem;
    top: 26.5625rem;
    width: 5rem;
    height: 5rem;
    color: #fcc500;
    fill: #fcc500;
    
}

#blue_blinking_cirle{
    position: absolute;
    left: 5rem;
    top: 16.4375rem;
    width: 5rem;
    height: 5rem;
    background-color: #155dfc;
    opacity: 0.1;
    border-radius: 50%;
    filter: blur(10px);
    /* animation: blinker 1.5s linear infinite; */
    animation: growFade 3s ease-out infinite;
}


@keyframes growFade {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  40% {
    transform: scale(1.3);
    opacity: 0.4;   
  }
  70% {
    opacity: 0;   
  }
  100% {
    transform: scale(0.2);
    opacity: 0;   
  }
}

#purple_blinking_circle{
        position: absolute;
    left: 9.3125rem;
    top: 30.9375rem;
    width: 5rem;
    height: 5rem;
    background-color: #fc15fc;
    opacity: 0.2;
    border-radius: 50%;
    filter: blur(10px);
    animation: blinker 1.5s linear infinite;
    animation: growFade 3s ease-out infinite;
}

#yellow_blinking_circle{
      position: absolute;
    left: 89.6875rem;
    top: 10.375rem;
    width: 5rem;
    height: 5rem;
    background-color: #F1B200;
    opacity: 0.2;
    border-radius: 50%;
    filter: blur(10px);
    animation: blinker 1.5s linear infinite;
    animation: growFade 3s ease-out infinite;
}

#up_arrow{
    position: absolute;
    left: 72.875rem;
    top: 20.3125rem;
    
}