body {
    font-family: "Inter", sans-serif;
    background: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  .taskmaster-container {
    width: 420px;
    height: 92vh;
    border-radius: 25px;
    background: var(--bg);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
    margin: 0 auto;

  }