<link rel="stylesheet" href="/components/recent-tasks/recent-tasks.css">
<div class="main-lower-section">

    <div class="recent-tasks">
        <h3><i class="fa-regular fa-clock"></i> Recent Tasks</h3>
        <div class="no-tasks">
            <i class="fa-solid fa-square-check"></i>
            <p>No tasks yet</p>
        </div>
    </div>

    <div class="quick-actions">
        <h3> <i class="fa-solid fa-arrow-trend-up"></i> Quick Actions</h3>

        <div class="qa-item">
            <i class="fa-regular fa-square-check qa-item-icon"></i>
            <div>
                <h4>Create New Task</h4>
                <p>Add a task to your list</p>
            </div>
        </div>

        <div class="qa-item">
            <i class="fa-solid fa-dollar-sign"></i>
            <div>
                <h4>Track Expense</h4>
                <p>Record a new expense</p>
            </div>
        </div>

        <div class="qa-item">
            <i class="fa-solid fa-note-sticky"></i>
            <div>
                <h4>Write Note</h4>
                <p>Capture your thoughts</p>
            </div>
        </div>
    </div>

</div>
