
.task-header {
  
    /* padding: 25px; */
    border-radius: 12px;
    margin: 0;
    /* display: flex; */
    /* align-items: center; */
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
   
    line-height: 0.2rem;
    
}

.task-header-left {
    display: flex;
    gap: 15px;
    align-items: center;
}
img{
   width: 20%;
   height: 20%;  
}
.task-icon-box {
    
    background: #e8f0ff;
    color: #2463ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* font-size: 22px;s */
}

